#{$name}-loop {
	font-size: 100%;
	@include breakpoint(phone){ text-align: center;}
	@include breakpoint(kindle){ text-align: center;}
}
#{$name}-item {
	text-align: left;
	word-break: break-word;
	width: 100%;
	vertical-align: top;
	max-width: 280px;
	display: inline-block;
	background: #fff;
	margin: 20px 0 0 20px;
	@include box-shadow(0 0 3px rgba(#000, .2));
	border-top: 1px solid $grayLight;
	border-bottom: 1px solid $grayLight;
	position: relative;
	&.new-item {
		&:after {
			@include ribbon('New', 143px, -1px);
		}
	}
	@include breakpoint(phone) {
		position: relative !important;
		margin: 20px auto 0 auto !important;
		top: 0 !important;
		left: 0 !important;
		max-width: 300px;
	}
	@include breakpoint(kindle) {
		max-width: 500px;
		position: relative !important;
		margin: 20px auto 0 auto !important;
		top: 0 !important;
		left: 0 !important;
	}
}
#{$name}-img {
	@include box-sizing(border-box);
	text-align: center;
	position: relative;
	overflow: hidden;
	background: $gray;
	border-left: 1px solid $grayLight;
	border-right: 1px solid $grayLight;
	border-bottom: 4px solid $grayLighter;
	img {
		margin: 0 auto;
	}
}
#{$name}-text {
	text-align: left;
	@include box-sizing(border-box);
	padding: .5em 6.25% 1em 6.25%;
	border-left: 1px solid $grayLight;
	border-right: 1px solid $grayLight;
	word-wrap: break-word;
	h4 {
		text-transform: uppercase;
		font-family: $fancyFont;
	}
	p {
		font-size: 0.9285714286em;
		line-height: 1.3846153846;
	}
	.btn {
		@include box-shadow(0 0 0 4px $grayLight);
		margin-top: 25px;
	}
}
#{$name}-meta {
	text-align: left;
	background: $grayLighter;
	border-left: 1px solid $grayLight;
	border-right: 1px solid $grayLight;
	@include clearfix();
	@include box-sizing(border-box);
	padding: .5em 5%;
	p {
		font-size: 1.1428571429em;
		line-height: 1.25;
		text-transform: uppercase;
		font-family: $fancyFont;
		overflow: hidden;
		padding-top: .5em;
		word-break: break-word;
		span {
			font-size: 0.8125em;
			text-transform: none;
			font-family: Helvetica Neue, Helvetica, sans-serif;
			display: block;
		}
		a {
			color: $blue;
			font-size: 0.8125em;
		}
		small {
			font: normal .8125em Helvetica Neue, Helvetica;
			padding: 0 .25em;
		}
	}
	img {
		margin-right: .5em;
		border: 3px solid #fff;
		@include box-shadow(0 1px 0 rgba(#000, .4));
	}
}
