#{$name}-loop {
	font-size: 100%;
}
#{$name}-item {
	max-width: 300px;
	background: #fff;
	margin-bottom: 25px;
	@include box-shadow(0 0 3px rgba(#000, .2));
	border: 1px solid $grayLight;
	position: relative;
	&.new-item {
		&:after {
			@include ribbon('New', 143px, -1px);
		}
	}
}
#{$name}-img {
	position: relative;
	img {
		border-bottom: 4px solid $grayLighter;
	}
	margin-bottom: 1em;
}
#{$name}-text {
	@include box-sizing(border-box);
	padding: 0 6.25% 1em 6.25%;
	h4 {
		text-transform: uppercase;
		font-family: $fancyFont;
	}
	p {
		font-size: 0.9285714286em;
		line-height: 1.3846153846;
	}
	.btn {
		@include box-shadow(0 0 0 4px $grayLight);
		margin-top: 25px;
	}
}
#{$name}-meta {
	background: $grayLighter;
	p {
		font-size: 1.1428571429em;
		line-height: 1.25;
		text-transform: uppercase;
		font-family: $fancyFont;
		overflow: hidden;
		padding-top: .5em;
		span {
			font-size: 0.8125em;
			text-transform: none;
			font-family: Helvetica Neue, Helvetica, sans-serif;
			display: block;
		}
		a {
			color: $blue;
			font-size: 0.8125em;
		}
		small {
			font: normal .8125em Helvetica Neue, Helvetica;
			padding: 0 .25em;
		}
	}
	@include clearfix();
	@include box-sizing(border-box);
	padding: .5em 5%;
	img {
		margin-right: .5em;
		border: 3px solid #fff;
		@include box-shadow(0 1px 0 rgba(#000, .4));
	}
}
