.wisp-modal {
	.modal-backdrop {
		&.fade.in {
			opacity: .8;
		}
	}
	.wisp {
		.modal {
			@include box-sizing(border-box);
			margin: 0;
			border-radius: 0;
			padding: 45px 16px 0 0;
			border:none;
			background: none;
			@include box-shadow(none);
			&.fade.in {
				top: 5%;
			}
			left: 50%;
			margin-left: -350px;
			width: 700px;
			max-height: 90%;
			overflow: scroll;
			@include breakpoint(phone){
				width: 95%;
				top: 0;
				padding: 0;
				right: 0;
				left: 2.5%;
				margin-left: 0;
				&.fade.in {
					top: 5px !important;
					height: 95%;
					max-height: 95%;
				}
			}
			.post-full {
				height: 100%; 
				overflow: scroll;
				.thermal-meta {
					@include breakpoint(phone){
						padding: .25em 2%; 
						@include clearfix();
						.span5 {
							border-bottom: 1px solid $grayLight;
							padding-bottom: .25em;
						}
						.span4 {
							width: 55%;
							float: left;
						}
						.span3 {
							width: 40%;
							float: right;
						}
						img {
							display: none;
						}
						p {
							padding-top: .25em;
							margin-bottom: 0;
							font-size: 1.0769230769em;
						}
					}
				}
			}
		}
		.modal-close {
			position: absolute;
			right: 0;
			top: 0;
			display: block;
			height: 45px;
			width: 100%;
			background: image_url('modal-close.png') no-repeat top right;
			text-indent: -9999px;
			float: left;
			@include breakpoint(phone){
				position: relative;
				margin-right: 0 !important;
				padding-right: 0 !important;
				margin-top: 0;
				margin-bottom: -2px;
			}
		}
		.post-full {
			clear: both;
			overflow: hidden;
			background: #fff;
			padding-bottom: 2em;
			#{$name}-meta {
				border-bottom: 4px solid $grayLight;
				padding: .5em 2.5%;
			}
			@include breakpoint(kindle){
				#{$name}-meta {
				  .row-fluid .span3 {
				  	float: left;
				    width: 22.92818%;
				  }
				  .row-fluid .span4 {
				  	float: left;
				    width: 31.49171%;
				  }
				  .row-fluid .span5 {
				  	float: left;
				    width: 40.05525%;
				  }			
				}
			}
		}
		.post-title {
			padding: 0 2.85% .5em 2.85%;
			h3 {
				margin-top: 0;
				line-height: 1.25em;
				font-size: 2em;
				font-family: $fancyFont;
				@include breakpoint(phone){line-height: 1; font-size: 1.75em;}
			}
		}
		.post-image {
			text-align: center;
			img {
				margin: 0 auto;
				max-width: 100%;
				height: auto;
			}
		}
		.post-content {
			@include clearfix();
			padding: 1.25em 2.85% .5em 2.85%;
			font-size: 0.9285714286em;
			line-height: 1.2307692308;
			position: relative;
			p {
				@include breakpoint(phone){
					font-size: 1.25em;
					line-height: 1.4;
				}
			}
			dl, dt, dd {
				text-align: left;
			}
		}
		.post-paging {
			@include clearfix();
			padding: 1em 3% 0 3%;
			.btn {
				@include box-shadow(0 0 0 4px $grayLight);
				@include box-sizing(border-box);
				text-transform: uppercase;
				font-size: 0.875em;
				line-height: 1.666667;
				text-align: center;
				width: 11em;
				.triangle-left {
					margin-left: -10px;
					margin-right: 15px;
				}
				.triangle-right {
					margin-right: -30px;
					margin-left: 20px;
				}
			}
		}
		.share-buttons{
			small, .facebook, .twitter{
				float: left;
				height: 25px;
				line-height: 25px;
				margin-top: 3px;
			}
			.facebook {
				max-width: 75px;
				margin-right: 5px;
				iframe {
					max-width: 75px;
				}
			}
			.twitter {
				max-width: 80px;
				iframe{
					max-width: 80px;
				}
			}
		}		
	}
}
