<div class="archive">
    <% _.forEach(posts, function(post) { %>
    <div class="post-excerpt">
        <% if(post.new){ %>
            <span>New</span>
        <% } %>
        <% if(post.media.featured_image){ %>
            <img src="<%= post.media.featured_image.sizes['thumbnail'].url %>"/>
        <% } %>
        <h3><%= post.title %></h3>
        <p><%= post.excerpt %></p>
        <a class="button" href="<%= post.permalink %>">Read Full Post</a>
        <div class="bottom">
            <% if(post.author.avatar){ %>
            <img src="<%= post.author.avatar.url %>"/>
            <% } %>
            <small><%= Date.hoursAgo(post.date) # Extend the Date prototype to support that %></small>
            <h4><%= post.author.display_name %></h4>
        </div>
    </div>
    <% } %>
</div>