<div class="span6 gallery">
	<div class="gal-img">
		<img src="http://placehold.it/300x200" alt="" />
	</div>
	<div class="gal-name">
		<h5>
			<a href="#">Disney Parks After Dark</a>
		</h5>
	</div>
</div>
<div class="span6 gallery">
	<div class="gal-img">
		<img src="http://placehold.it/300x200" alt="" />
	</div>
	<div class="gal-name">
		<h5>
			<a href="#">First Look at Star Wars Weekends 2013 
			Merchandise at Disney’s Hollywood Studios</a>
		</h5>
	</div>
</div>
<div class="span6 gallery">
	<div class="gal-img">
		<img src="http://placehold.it/300x200" alt="" />
	</div>
	<div class="gal-name">
		<h5>
			<a href="#">A Salute to Parks' Architecture</a>
		</h5>
	</div>
</div>
<div class="span6 gallery">
	<div class="gal-img">
		<img src="http://placehold.it/300x200" alt="" />
	</div>
	<div class="gal-name">
		<h5>
			<a href="#">Rapunzel’s New View at Magic Kingdom Park</a>
		</h5>
	</div>
</div>
<div class="span6 gallery">
	<div class="gal-img">
		<img src="http://placehold.it/300x200" alt="" />
	</div>
	<div class="gal-name">
		<h5>
			<a href="#">Disney Parks After Dark</a>
		</h5>
	</div>
</div>
<div class="span6 gallery">
	<div class="gal-img">
		<img src="http://placehold.it/300x200" alt="" />
	</div>
	<div class="gal-name">
		<h5>
			<a href="#">Star Wars Weekends 2013 
			Merchandise at Disney’s Hollywood Studios</a>
		</h5>
	</div>
</div>
