<div class="thermal-item <% if(new Date(date).isNew() === true) {%> new-item <% } %>">
    <% var featured_image = WisP.getMediaByID(meta.featured_image, media) %>
    <% if(media.length > 0 && featured_image){ %>
    <div class="thermal-img">
        <img alt="<%= featured_image.alt_text %>" src="<%= featured_image.sizes[0].url %>"/>
    </div>
    <% } %>
    <div class="thermal-text">
        <h4><a href="<%= WisP.config.baseUrl + '/#posts/' + id %>"><%= title %></a></h4>
        <p><%= excerpt %></p>
    </div>
    <div class="thermal-meta">
        <% if(author.avatar && author.avatar.length > 0 && author.avatar[0].url){ %>
        <img src="<%= author.avatar[0].url %>" alt="" class="img-circle pull-left" />
        <% } %>
        <p><span><% var d = new Date(date).timeAgo() %><%= d %></span><%= author.display_name %></p>
    </div>
</div>