<div class="span4 thermal-item">
    <% if(media && media.length > 0){ %>
    <div class="thermal-img">
        <img src="<%= media[0].sizes[0].url %>"/>
    </div>
    <% } %>
    <div class="thermal-text">
        <h4><a href="<%= WisP.config.baseUrl + '/#posts/' + id %>"><%= title %></a></h4>
        <p><%= excerpt %></p>
    </div>
    <div class="thermal-meta">
        <% if(author.avatar && author.avatar.length > 0){ %>
        <img src="<%= author.avatar[0].url %>" alt="" class="img-circle pull-left" />
        <% } %>
        <p><span><%= date %></span><a href="<%= author.userUrl %>"><%= author.display_name %></a></p>
    </div>
</div>