<a href="#" class="modal-close">Close</a>
<div class="post-full" id="<%= id %>">
  <div class="post-title">
	    <h3><%= title %></h3>
	</div>
  <div class="thermal-meta">
		<div class="row-fluid">
			<div class="span5">
        <% if(author.avatar && author.avatar.length > 0 && author.avatar[0].url){ %>
				<img src="<%= author.avatar[0].url %>" alt="" class="img-circle pull-left" />
        <% } %>
				<p><span><% var d = new Date(date).timeAgo() %><%= d %></span><%= author.display_name %></p>
			</div>
			<div class="span4">
				<p><span>share post</span><a href="#">Facebook</a><small>|</small><a href="#">Twitter</a></p>
			</div>
			<div class="span3">
        <% var prettyURL = WisP.getPrettyURL(permalink) %>
        <% if(prettyURL){ %>
				<p><span>view on</span><a href="<%= permalink %>"><%= prettyURL %></a></p>
        <% } %>
			</div>
		</div>
  </div>
  <% var featuredImage = WisP.getMediaByID(meta.featuredImage, media) %>
  <% if(media.length > 0 && featuredImage){ %>
	<div class="post-image">
	    <img alt="<%= featuredImage.altText %>" src="<%= featuredImage.sizes[0].url %>"/>
	</div>
  <% } %>
	<div class="post-content">
	    <p><%= content %></p>
	</div>
	<div class="post-paging">
		<a href="#" class="btn btn-success btn-large pull-left"><span class="triangle-left"></span>Previous</a>
		<a href="#" class="btn btn-success btn-large pull-right">Next<span class="triangle-right"></span></a>
	</div>
</div>
