<div id="myCarousel" class="carousel slide">
	<!-- Carousel items -->
	<div class="carousel-inner">
		<div class="active item">
			<img src="http://placehold.it/1200x400" alt="" />
			<div class="carousel-caption">
				<p>First image in the photo gallery set has a long caption that should span two lines</p>
			</div>
		</div>
		<div class="item">
			<img src="http://placehold.it/1200x400" alt="" />
			<div class="carousel-caption">
				<p>Second image in the photo gallery</p>
			</div>
		</div>
		<div class="item">
			<img src="http://placehold.it/1200x400" alt="" />
			<div class="carousel-caption">
				<p>Third image in the photo gallery</p>
			</div>
		</div>
		<div class="item">
			<img src="http://placehold.it/1200x400" alt="" />
			<div class="carousel-caption">
				<p>Third image in the photo gallery</p>
			</div>
		</div>
		<div class="item">
			<img src="http://placehold.it/1200x400" alt="" />
			<div class="carousel-caption">
				<p>Third image in the photo gallery</p>
			</div>
		</div>
		<div class="item">
			<img src="http://placehold.it/1200x400" alt="" />
			<div class="carousel-caption">
				<p>Third image in the photo gallery</p>
			</div>
		</div>
		<div class="item">
			<img src="http://placehold.it/1200x400" alt="" />
			<div class="carousel-caption">
				<p>Third image in the photo gallery</p>
			</div>
		</div>
		<div class="item">
			<img src="http://placehold.it/1200x400" alt="" />
			<div class="carousel-caption">
				<p>Third image in the photo gallery</p>
			</div>
		</div>
		<div class="item">
			<img src="http://placehold.it/1200x400" alt="" />
			<div class="carousel-caption">
				<p>Third image in the photo gallery</p>
			</div>
		</div>
		<div class="item">
			<img src="http://placehold.it/1200x400" alt="" />
			<div class="carousel-caption">
				<p>Third image in the photo gallery</p>
			</div>
		</div>
	</div>
	<!-- Carousel nav -->
	<a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
	<a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
	<div class="carousel-thumbs">
		<ol class="carousel-indicators">
			<li data-target="#myCarousel" data-slide-to="0" class="active">
				<img src="http://placehold.it/100x100" alt="" />
			</li>
			<li data-target="#myCarousel" data-slide-to="1">
				<img src="http://placehold.it/100x100" alt="" />
			</li>
			<li data-target="#myCarousel" data-slide-to="2">
				<img src="http://placehold.it/100x100" alt="" />
			</li>
			<li data-target="#myCarousel" data-slide-to="3">
				<img src="http://placehold.it/100x100" alt="" />
			</li>
			<li data-target="#myCarousel" data-slide-to="4">
				<img src="http://placehold.it/100x100" alt="" />
			</li>
			<li data-target="#myCarousel" data-slide-to="5">
				<img src="http://placehold.it/100x100" alt="" />
			</li>
			<li data-target="#myCarousel" data-slide-to="6">
				<img src="http://placehold.it/100x100" alt="" />
			</li>
			<li data-target="#myCarousel" data-slide-to="7">
				<img src="http://placehold.it/100x100" alt="" />
			</li>
			<li data-target="#myCarousel" data-slide-to="8">
				<img src="http://placehold.it/100x100" alt="" />
			</li>
			<li data-target="#myCarousel" data-slide-to="9">
				<img src="http://placehold.it/100x100" alt="" />
			</li>
		</ol>
	</div>
	<a class="btn btn-block btn-inverse" href="#">More Galleries</a>
</div>
